*.#??
*.csm
*.tds
*.exe
*.obj
__history/*
*.cgl
*.log
*.dll
*.vlb
xmlBatchRe*
*.swp
Debug_Build/*
*.map
Debug/*
Release/*
.DS_Store
*/Debug/*
*/__history/*
AQTime/*
Profiling/*
*/Win32/*
/Win32/*
*.bin
*.local
Thumbs.db
*.$$$
DebenuPDF*
*.res
